.dashboard-right{
    min-height: 90vh;
    flex: 0 0 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:4rem 2rem;
    img{width: 70%; margin: auto;}
    &-activities{
        padding:0 4rem;
        &-1{padding: 1.5rem; background-color: #FFEBF5;margin: 1rem;font-weight: 500;}
        &-2{padding: 1.5rem; background-color: #fffdda;margin: 1rem;font-weight: 500;}
        &-3{padding: 1.5rem; background-color: #EAE7FF;margin: 1rem;font-weight: 500;}
    }
}