.budget-list{
    &-section{
        padding: 2rem;
        margin: 3rem;
        border-radius: 1rem;
        background-color: #EEF4FF;
        width: 91%;
        margin: auto;
        overflow: scroll;
        height: 75vh;
        
    }

    &-top{
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 3rem;
    }

    &-body{
        
    }

    &-item{
        display: grid;
        grid-template-columns: repeat(4,1fr) 3rem 10rem 2rem;
        align-items: center;
        padding: 1.5rem 2rem 1.5rem 4rem;
        border-radius: 5px;
        margin: auto;
        &-icon{
            // justify-self: end;
            cursor: pointer;
        }
        &:nth-child(even){
            background-color: white;
        }
    }
}