.budget-add-section{
    margin: 2rem;
    padding:1rem 3rem;
    width: 90%;
    border-radius: 1rem;
    margin: 1rem auto;
    h2{
        color: #ce5f1a;
        font-style: italic;
        margin: 3rem;
        margin-bottom: 3rem;
    }
}
.budget-add-submit{
    min-width: 10%;
    padding: 1rem 2rem;
    margin: 3rem 1rem;
    border-radius: 1rem;
}
.budget-add-body{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    margin: auto;
}

.budget-input-unit{
    padding: 1rem;
    border-radius: 1rem;
    margin: .5rem;
    display: flex;
    align-items: center;
}
.budget-input{
    outline: invert;
    padding: 1rem;
    font-family: inherit;
    font-size: inherit;
    border: 2px solid transparent;
    border-bottom: 2px solid #beeff0;
    border-radius: 1rem;
    &:focus{
        outline: none;
        border-bottom: 2px solid #32606d;
    }
    &-btn{
        margin: auto;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &-label{
        padding: 1rem;
        font-size: 1.8rem;
        color: #32606d;
        
    }
    &::placeholder{
        color: #cab9af;
        font-style: italic;
    }
}
