.dashboard-left{
    min-height: 90vh;
    flex: 0 0 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 3rem;
    img{width: 10rem;}
    &-options{
        flex: 0 0 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-active{color: #1194cc;}
        &-unit{
            display: flex;
            align-items: center;
            a,h4{
                    padding: 1rem;
                    font-weight: 500;
                    font-size: 1.6rem;
                    color: rgb(92, 95, 107);
                    cursor: pointer;
                    &:hover,:active,:focus{color: #1194cc;}
            }
        }
    }
    &-vector{
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{width: 75%;height: auto; padding: 3rem 2rem;}
    }
}