.budget-add-section{
    margin: 2rem;
    padding:1rem 3rem;
    width: 90%;
    border-radius: 1rem;
    margin: 1rem auto;
    h2{
        color: #525252;
        font-style: italic;
        margin: 3rem;
        display: inline;
    }
    h3{
        display: inline-flex;
        color: red;
        font-size: 2.1rem;
        font-style: italic;
        font-weight: lighter;
    }
    h4{
        display: inline-flex;
        color: green;
        font-size: 2.1rem;
        font-style: italic;
        font-weight: lighter;
    }
}
.budget-add-submit{
    min-width: 10%;
    padding: 1rem 2rem;
    margin: 3rem 1rem;
    border-radius: 1rem;
}
.budget-add-body{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    margin: auto;
}

.budget-input-btn{
        margin: auto;
        display: flex;
        justify-content: center;
        width: 100%;
}