.sign-up-page{
    height: 70vh;
    width: 80vw;
    border-radius: 7rem;
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #edf9fa;
    box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #ffffff;
    padding: 3rem;
    h1{
        text-align: center;
        color: #e9884b;
        font-weight: bolder;
    }
}
.sign-up{
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-message{
        color: red;
    }
    &-btn{
        width: 60%;
        margin: auto;
        text-align: center;
        box-shadow: 1rem 1rem 20px #cbced1,
                     -1rem -1rem 20px #ffffff;
    }
    &-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width: 30%;
        // height: 80%;
        border-radius: 40px;
        padding: 2.5rem;
        background: #f1f7f8;
        box-shadow: 13px 13px 20px #cbced1,
                     -13px -13px 20px #ffffff;
        &-terms{
            font-size: 1.5rem;
        }
        &-title{
            text-align: center;
            color: #32606d;
            padding: 1.5rem;
        }
        &-fields{
            margin: auto;
            padding: 1rem .5rem;
            width: 80%;
            input {
                border: none;
                outline:none;
                background: none;
                color: rgb(124, 124, 124);
                padding:1rem 2rem;
                font-size: inherit;
                &::placeholder{
                    color: rgb(165, 165, 165);
                }
              }
        
        }
        &-field{
            margin-bottom: 30px;
            border-radius: 25px;
            box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
        }
        
    }
    &-img{
        width: 37%;
        img{
          width: 100%;  
        }
    }
}



.sign-up-to-sign-in{
    text-align: center;
    padding: 2rem;
    &-link{
        text-decoration: underline;
        color: #32606d;
        
    }
}

