.dashboard{
    min-height: 74vh;
    display: flex;
    &-left{
        min-height: 74vh;
        flex: 0 0 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 6rem 3rem;
        img{width: 10rem;}
        &-options{
            flex: 0 0 37%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h4{
                padding: 1rem;
                font-weight: 500;
                font-size: 1.6rem;
                color: rgb(92, 95, 107);
                cursor: pointer;
                &:hover{color: #1194cc;}
            }
            &-unit{
                display: flex;
                align-items: center;
            }
        }
        &-vector{
            flex: 0 0 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{width: 75%;height: auto; padding: 3rem 2rem;}
        }
    }

    &-body{
        min-height: 74vh;
        flex: 1;
        padding: 6rem 3rem;
        display: flex;
        flex-direction: column;
        &-top{
            display: flex;
            padding: 0 3rem;
            img{width: 50%;}
            h2{font-size: 4rem; font-weight: 400; color: rgb(20, 48, 71);}
            h3{font-weight: 400; color: rgb(122, 130, 138);}
        }
        &-main{
            border-radius: 2rem;
            padding: 3rem;
            flex: 1;
            background-color: #EEF4FF;

        }
    }
    &-right{
        min-height: 74vh;
        flex: 0 0 26%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding:4rem 2rem;
        button{margin: 5rem; padding: 3rem ;}
        img{width: 70%; margin: auto;}
        &-activities{
            padding: 4rem;
            &-1{width: 70%; padding: 2.5rem; background-color: #FFEBF5; margin: 2rem;}
            &-2{width: 70%; padding: 2.5rem; background-color: #fffdda;margin: 2rem;}
            &-3{width: 70%; padding: 2.5rem;background-color: #EAE7FF;margin: 2rem;}
        }
    }
}