.dashboard{
    min-height: 85vh;
    display: flex;
    position: relative;
    @media only screen and (max-width:70em) {padding: 0rem 3rem 3rem 0;}
    @media only screen and (max-width:45em) {padding: 2rem 2rem 2rem 3rem;}
}

.right-nav{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5rem 3rem;
    font-size: 2.5rem;
    line-height: 0;
    color: palevioletred;
    display: none;
    cursor: pointer;
    @media only screen and (max-width:70em) {display: block;}
}

.left-nav{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5rem 3rem;
    font-size: 2.5rem;
    line-height: 0;
    color: palevioletred;
    display: none;
    cursor: pointer;
    @media only screen and (max-width:45em) {display: block;}
}