
// COLOR VARIABLES
$color-primary: #64a1a2;
$color-primary-light: #beeff0;
$color-primary-dark: #32606d;

$color-secondary: #ce5f1a;
$color-secondary-light: #e9884b;
$color-secondary-dark: #c04b02;

$color-grey-light-1: #e4e4e4;
$color-grey-light-2: #bdbdbd;

$color-grey-dark-1: #444444;
$color-grey-dark-2: #6d6d6d;
$color-grey-dark-3: #9c9c9c;

//mediaqueries breakpoints
$bp-largest: 80em;
$bp-large: 64em;  
$bp-medium: 47em; 
$bp-small: 36.5em; 
$bp-smaller: 25em; 

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-headers: 'Acme', sans-serif;

// SHAHOW VARIABLES
$shadow-light: 0 1rem 4rem rgba(90, 90, 90, 0.295);
$shadow-lighter: 0 1rem 4rem rgba(255, 255, 255, 0.116);
$shadow-dark:0 1rem 4rem rgba(255, 255, 255, 0.349);

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: initial;
}

::selection {
    color: white;
    background: $color-secondary;
  }   

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    @media only screen and (max-width:$bp-largest) {font-size: 55%;}
    @media only screen and (max-width:$bp-large) {font-size: 50%;}
}

body{
    font-family: $font-primary;
    color:$color-grey-dark-2;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 1.6;
    overflow-x: hidden;
    // display: grid;
    // grid-template-columns: 10rem repeat(10,1fr);
    // grid-template-rows: 10rem repeat(2,70rem) repeat(5,min-content);
    // @media only screen and (max-width:$bp-small) {
    //     grid-template-columns: 7rem repeat(10,1fr);
    //     grid-template-rows: 7rem repeat(2,68rem) repeat(5,min-content);
    // }
}

.btn{
    height: min-content;
    text-decoration: none;
    transition: all .3s;
    font-size: 1.6rem;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
    border-radius: 10rem;
    padding: 1rem 2.5rem;
    border: none;
    &-four{
        border: 1px solid $color-secondary;
        color: $color-secondary;
        background-color: transparent;
        font-weight: bolder;
        &:hover{
            border: 1px solid transparent;
            background-color: $color-secondary;
            color: white;
        }
    }
    &-three{
        border: none;
        text-align: center;
        color: $color-primary;
        padding: 0;
        font-weight: bold;
        &::after{
            width: 8px;
            margin: auto;
            content: "";
            display: block;
            height: 8px;
            border-radius: 100px;
            background-color: $color-secondary-light;
            text-align: center;
            transition: all .3s;
            opacity: 0;
            transform: translateY(1rem);
        }
        &:hover{
            &::after{opacity: 1; transform: translateY(0);}  
        }
    }
    &-primary{
        border: 1px solid transparent;
        background-color: $color-primary-dark;
        color: white;
        font-weight: bolder;
        &:hover{
            border: 1px solid $color-primary-dark;
            color: $color-primary-dark;
            background-color: transparent;
        }
    }
    &-secondary{
        color: $color-secondary;
        &::after{
            width: 8px;
            margin: auto;
            content: "";
            display: block;
            height: 8px;
            border-radius: 100px;
            background-color: $color-secondary-light;
            text-align: center;
            transition: all .3s;
        }
       
    }
}


.h1{
    font-family: $font-primary;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 4rem;
    line-height: 130%;
    // color: $color-grey-dark-1;
    color: $color-secondary;
}
.h2{
    font-family: $font-headers;
    color: $color-grey-dark-3;
    font-weight:600;
    letter-spacing: 1px;
    font-size: 5.5rem;
    padding-bottom: 2rem;
    @media only screen and (max-width:$bp-medium) {font-size: 3.5rem;}
}
.h3{
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 1px;
    color: $color-grey-dark-2;
    margin: 1rem 0;
}
.h4{
    padding: 1rem 0;
    font-size: 1.8rem;
    color: $color-primary;
    font-family: $font-primary;
}

p{
    font-size: 1.6;
    font-weight: 500;
    color: $color-grey-dark-3;
}
.heading-5{
    letter-spacing: 1px;
    font-size: 1.6rem;
    font-weight: 400;
    // @media only screen and (max-width:$bp-medium) {font-size: 1.6rem;}
}


.color-red{color: rgb(240, 69, 50); padding: .5rem;}
.color-green{color: rgb(44, 184, 86);  padding: .5rem;}