.budget-dashboard-general-categories{
    label{
        width: 40%;
    }
    button{
        margin-left: 45%;
    }
    height: 68vh;
    overflow-y: scroll;
}

.budget-input-set-unit{
    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
    &-icon{
        padding-left: 2rem;
    }
}