.budget-dashboard-general-categories{
    label{
        width: 40%;
    }
    button{
        margin-left: 45%;
    }
    min-width: 45rem;
    height: 60vh;
    overflow-y: scroll;
}

.budget-input-set-unit{
    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
    &-icon{
        padding-left: 2rem;
    }
}

.budget-save-changes-btn{
    width: 70%;
    margin: 1rem;
    padding: 1rem;
    justify-self: flex-end;
    align-self: center;
    text-align: center;
}

.budget-add-input-unit{
    background-color: white;
    border-radius: 1rem;
    padding:2rem 4rem;
    margin: 1rem;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    h4{
        padding-top: 1.5rem;
    }
    input{
        padding: 1rem 1.5rem;
        margin: 2.5rem 0;
        font-size: inherit;
        border: none;
        border-bottom: 2px solid #64a1a2;
        outline: none;
        &:focus{
            border-bottom: 2px solid #32606d;  
        }
    }
}

.budget-dashboard-general-settings-right{
    // min-width: 60%;
    height: 61vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    overflow-y: scroll;
    &-unit{
        flex: 1;
        display: flex;
    }
}